*

!/app/bin/
!/app/config/
!/app/public/
!/app/src/
!/app/tests
!/app/templates/
!/app/translations/
!/app/.env
!/app/.env.test
!/app/composer.*
!/app/symfony.lock
!/app/package.json
!/app/webpack.config.js
!/app/assets
!/app/yarn.lock
!/app/docker-prod
